In [9]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [22]:
#import dataset
dataset=pd.read_csv("StockPrice.csv")
dataset

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,01-01-2018,TCS,2701.20,2682.30,2694.80,2635.00,2650.00,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,02-01-2018,TCS,2645.60,2660.00,2669.60,2620.20,NaN,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,03-01-2018,TCS,2631.20,2632.00,NaN,2631.20,2639.00,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,04-01-2018,TCS,2638.65,2650.00,2662.00,2640.00,2650.00,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,05-01-2018,TCS,NaN,2650.00,2699.50,2650.00,2695.00,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,26-04-2021,TCS,3109.50,3102.05,3153.00,3088.05,3100.05,3100.80,3122.35,2490260.0,7.775460e+14,NaN,1345353.0,0.5402
819,27-04-2021,TCS,3100.80,3106.00,3136.10,3103.00,3132.75,3132.00,3122.18,1471417.0,4.594040e+14,97077.0,849767.0,0.5775
820,28-04-2021,TCS,3132.00,3149.95,3151.00,3112.00,NaN,3124.10,3125.72,1639037.0,NaN,76017.0,847762.0,0.5172
821,29-04-2021,TCS,3124.10,3145.60,NaN,3105.50,3114.45,NaN,3130.83,1621395.0,5.076310e+14,98275.0,837567.0,0.5166
822,30-04-2021,TCS,3115.25,3099.00,3132.05,3020.00,3040.00,3035.65,3063.19,3072305.0,9.411060e+14,157829.0,1942473.0,0.6323

In [20]:
#to find null values 
dataset.isnull().sum()

Date                  82
Symbol                 0
Prev Close            82
Open                  82
High                  82
Low                   82
Last                  82
Close                 82
VWAP                  82
Volume                82
Turnover              82
Trades                82
Deliverable Volume    82
%Deliverble           82
dtype: int64

In [21]:
#removing date column
data.drop("Date",axis=1,inplace=True)
data.head()

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,TCS,2701.20,2682.3,2694.8,2635.0,2650.0,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,TCS,2645.60,2660.0,2669.6,2620.2,NaN,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,TCS,2631.20,2632.0,NaN,2631.2,2639.0,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,TCS,2638.65,2650.0,2662.0,2640.0,2650.0,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,TCS,NaN,2650.0,2699.5,2650.0,2695.0,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514

In [27]:
#Filling Missing values
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(data.iloc[:,1:])
data.iloc[:,1:]=imputer.transform(data.iloc[:,1:])
data.head()

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,TCS,2701.200000,2682.3,2694.800000,2635.0,2650.000000,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,TCS,2645.600000,2660.0,2669.600000,2620.2,2346.567206,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,TCS,2631.200000,2632.0,2365.234008,2631.2,2639.000000,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,TCS,2638.650000,2650.0,2662.000000,2640.0,2650.000000,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,TCS,2339.915722,2650.0,2699.500000,2650.0,2695.000000,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514

In [28]:
#checking for NUll values
data.isnull().sum()

Symbol                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
dtype: int64

In [23]:
#Feautre Scalling
scaler=StandardScaler()
data=scaler.fit_transform(data.iloc[:,1:])
data

array([[ 0.7681965 ,  0.72046374,  0.69467916, ..., -1.920426  ,
        -0.86046163, -0.0231596 ],
       [ 0.64997456,  0.67347189,  0.64156107, ..., -1.48195769,
        -0.7014953 ,  0.74302172],
       [ 0.61935593,  0.61446866,         nan, ..., -1.7177773 ,
        -0.83900923,  0.70454163],
       ...,
       [ 1.68420383,  1.70592302,  1.65628515, ..., -1.01374941,
        -0.4953515 ,  0.21541695],
       [ 1.66740611,  1.69675645,         nan, ..., -0.65690172,
        -0.50255031,  0.21028627],
       [ 1.64858841,  1.59855822,  1.61634119, ...,  0.29788791,
         0.27763726,  1.1996521 ]])